// Styles for links.
// Remember that these styles will also affect <a> tags such as anchors or ones you want to style as buttons
// Probably best to not define display: block !important; here!
.content,
.post_data {
    a {
        color: var(--font-color);
        text-decoration: none;
        padding-bottom: 0.125rem;
        box-shadow: inset 0 -0.125rem 0 var(--color-brand);
        transition: box-shadow $ease-swoosh $speed-fast;
    }
    a:link {
        color: var(--font-color);
    }
    a:hover {
        box-shadow: inset 0 -0.25rem 0 var(--color-brand);
    }
    a:active {
        
    }
    a:visited {
        
    }
}