#masthead nav {
    float: right;
    button {
        width: 60px;
        height: 60px;
        padding: 1rem;
        margin: 0.25rem;
        background: rgba($clr_black, 0.3);
        text-align: center;
        &:hover {
            background: rgba($clr_black, 0.6);
        }
    }
}