:root {
        --color-black: #010101;
        --color-dark: #565660;
        --color-light: #cfcfca;
        --color-white: #fefefe;
        --color-brand: #a0a0af;
    }
html {
    font-size: $font_size-med;
    @media (min-width: $screen-small) {
        font-size: between($font_size-med, $font_size-std, $screen-small, $screen-large);
    }
    @media (min-width: $screen-large) {
        font-size: $font_size-std;
    }
    &[data-state="not-scroll"] {
        overflow: hidden !important;
    }
    
    &[data-theme="light"] {
        --color-body: var(--color-light);
        --color-teaser: var(--color-white);
        --font-color: var(--color-black);
        --font-color-invert: var(--color-white);
    }
    &[data-theme="dark"] {
        --color-body: var(--color-dark);
        --color-teaser: var(--color-black);
        --font-color: var(--color-white);
        --font-color-invert: var(--color-black);
    }
}

body {
    background: var(--color-body);
}

.central-column {
    margin-right: auto;
    margin-left: auto;
    @media (max-width: $max-width) {
        max-width: calc($max-width + 1rem);
        padding: 0.5rem;
    }
    @media (min-width: ($max-width + 1)) {
        max-width: $max-width;
        padding: 0.5rem 0;
    }
}

img {
    display: block;
    padding: 0;
    margin: 0;
}

@supports (object-fit: cover) {
    img {
        object-fit: cover;
    }
}