// Card layout for post excerpts
@media (max-width: 767px) {
    .post-teaser {
        display: block;
        width: calc(100% - 1rem);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .post-container-teaser {
        text-align: center;
        font-size: 0;
    }
    .post-teaser {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 1rem);
        text-align: left;
    }
    @supports (display: flex) and (display: -webkit-flex) {
        .post-container-teaser {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: stretch;
            align-content: space-around;
        }
        .post-teaser {
            flex-grow: 1;
        }
    }
}

@media (min-width: 1024px) {
    .post-container-teaser {
        display: block;
        font-size: 0;
    }
    .post-teaser {
        display: inline-block;
        vertical-align: top;
        width: calc(33.33% - 1rem);
        font-size: 1rem;
    }
    @supports (display: flex) and (display: -webkit-flex) {
        .post-container-teaser {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: stretch;
            align-content: space-around;
        }
        .post-teaser {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: flex-start;
            footer {
                margin-top: auto;
            }
        }
    }
}

.post-teaser {
    position: relative;
    background: $clr_white;
    margin: 0.5rem;
    transition: box-shadow $ease-main $speed-fast;
    box-shadow: 0 0 0.5rem rgba(darken($clr_white, 50%), 0.9);
    &:hover {
        box-shadow: 0 0 1rem rgba(darken($clr_white, 50%), 0.6);
    }
    .content {
        @media (min-width: ($max-width / 2)) {
            max-width: ($max-width / 2);
        }
        padding: 0.5rem 1rem;
        line-height: $lh;
        p {
            @extend .richie;
            margin: 0;
        }
    }
    footer {
        width: 100%;
        padding: 1rem;
    }

    &.featured {
        
        @media (max-width: 767px){
            width: calc(100% - 1rem);
        }
        @media (min-width: 768px){
            width: calc(50% - 1rem);
        }
    }
}