.post_data {
    @extend .bobby;
    ul li {
        @extend .bobby;
        color: var(--font-color);
        padding: 0.25rem 0.5rem;
        line-height: $lh;
        .material-icons {
            display: inline-block;
            font-size: $font_size-std;
            margin-right: 0.25rem;
            vertical-align: middle;
            line-height: $lh;
        }
        a {
            line-height: inherit;
        }
    }
}

.post_data-meta {
    padding: 1rem 0.5rem 0 0.5rem;
}

.post_data-categories {
    ul li a {
        // @TODO: style kind of like the feature flags / nicked "pills" from cube3/alphaLSG
        font-weight: normal;
    }
}