.hero_wrapper {
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	[class*="post-hero-image-"] {
		position: absolute;
		top: 0;
		left: 0;
	}
	.hero_img-thumb {
		z-index: 10;
		transition: opacity $ease-main 300ms;
	}
	.hero_img-full {
		z-index: 9;
	}
}

.post-teaser .hero_wrapper {
	height: 300px;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
		display: none;
		transform: scale(1);
		transition: transform $ease-main $speed-slow;
		@supports (object-fit: cover) {
			height: 100%;
			display: block;
		}
	}
	&:hover img {
		transform: scale(1.1);
	}
}