.post_hero {
    width: 100%;
    height: 100vh;
    max-height: 300px;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: table;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.post_hero .inner {
    display: table-row;
    .texture {
        background: linear-gradient(rgba($clr_black, 0), rgba($clr_black, 0.6));
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: bottom;
		text-align: left;
        position: relative;
        z-index: 10;
    }
    .texture .hero_title-post,
    .texture .hero_copy-post {
        max-width: ($max-width / 2);
        margin: 0;
        padding: 1rem;
        color: $clr_white;
    }
	.hero_title-post {
		@extend .silvio;
	}
}

.is-ie .post_hero [class^="hero_img-full"] {
    display: none;
}

.post_hero [class^="hero_img-"] {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.post_hero .hero_img-thumb {
    z-index: 9;
}

.post_hero .hero_img-full {
    z-index: 8;
}